.sec1 {
  padding: ;
  background-color: $bg-white;
  .hero-sec1 {
    
    img {
      position: absolute;
      left: 367px;
      top: 200px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .common {
      padding: 1% 10%;
     
      @include display;
      gap: 20px;

      z-index: 1;

      .hero1 {z-index: 6;
        h6 {
          font-size: 18px;
        }
        h1 {
          font-size: 64px;
          margin-top: 24px;
        }
        p {
          font-size: 24px;
          margin-top: 32px;
        }

        .sec1btn {
          margin-top: 48px;
          @include display;
          justify-content: flex-start;
          column-gap: 20px;
          a {
            font-size: 18px;
            padding: 16px 36px 15px;
            border-radius: 8px;
          }
          .sign {
            background-color: $bg-dgreen;
          }
          .learn {
            color: $bg-dark;
            background-color: $color-white;
          }
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
      }
      .hero2 {
      

        .bgimg {
          width: 30%;
          z-index: 2;
        }
        

        .item {
          position: relative;
          top: -400px;
          background-color: $color-white;
          border-radius: 12px;
          @include display;
          justify-content: flex-start;

          width: 400px;
          column-gap: 15px;
          padding: 5px 20px;

          z-index: 3;
          .avatar {
            border: 3px solid $bg-pgreen;
            border-radius: 50%;
          }

          .note {
            h4 {
              font-size: 24px;

              color: $bg-dgreen;
            }
            p {
              font-size: 16px;

              color: $bg-dgreen;
            }
          }
        }
      }
      @media only screen and (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    padding: 0 5%;
  }
}
