header {
  color: white;
  background-color: black;
  nav {
    padding: 15px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        padding: 5px 20px;
        border-radius: 5px;
        transition: 3s;
        color: white;
      
        &:hover a{
          color: black;
          background-color: white;
          transform: scale(1.2);
        }
      }
    }
  }
}
