* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*header*/
.header {
  border: 1px splid #fffaed;
  background-color: #fffaed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  letter-spacing: 2px;
  position: fixed;
  z-index: 3;
  width: 100%;
}
.headernav {
  display: flex;
  column-gap: 20px;
}
.bar {
  display: none;
}
.logo {
  font-size: 30px;
  text-shadow: 1px 4px 4px rgb(167, 166, 166);
}
span {
  color: #e9b949;
}
/*section1*/
.sec1 {
  height: 90vh;
  width: 100%;
  border: 1px solid #fffaed;
  background-color: #fffaed;
  letter-spacing: 2px;
  line-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 70px 50px;
}
.sec1h1::before {
  content: "";
  display: block;
  background-color: #e9b949;
  height: 2px;
  width: 35px;
}
.sec1h1 {
  color: rgb(46, 33, 78);
  font-size: 40px;
}
.h5 {
  color: rgb(116, 106, 153);
}
.hireme {
  border: 1px solid #e9b949;
  background-color: #e9b949;
  border-radius: 10px;
  padding: 5px 10px;
}
.hireme:hover {
  color: #e26923;
  background-color: #eeb784;
}
.icon1 a {
  color: rgb(46, 33, 78);
}
.icon1 {
  display: flex;
  column-gap: 20px;
}

.img1 {
  height: 50vh;
  width: 230px;
  bottom: 10px;
  right: 15px;
  border-radius: 5px;
  position: relative;
}
/*section2*/
.sec1div2 {
  border: 2px solid #e9b949;
  border-radius: 5px;
}
.sec2 {
  width: 100%;
  border: 1px solid #fffaed;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  column-gap: 150px;
}

.img2 {
  height: 50vh;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
  position: relative;
}
.sec2div1 {
  border: 2px solid #e9b949;
  border-radius: 5px;
}
.h2 {
  color: rgb(46, 33, 78);
  letter-spacing: 3px;
}
.h2::after {
  content: "";
  display: block;
  background-color: #e9b949;
  height: 2px;
  width: 45px;
}
.lorem {
  color: rgb(117, 117, 168);
}
.aboutme {
  border: 1px solid #e9b949;
  background-color: #e9b949;
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 2px;
}
.aboutme:hover {
  color: #e26923;
  background-color: #eeb784;
}
/*section3*/
.sec3 {
  height: 100vh;
  width: 100%;
  border: 1px solid rgb(216, 231, 245);
  background-color: rgb(216, 231, 245);
}
.services {
  border: 1px solid rgb(216, 231, 245);
  background-color: rgb(216, 231, 245);
  color: rgb(46, 33, 78);
  text-align: center;
}
.container {
  display: flex;
  column-gap: 30px;
  padding: 150px 100px;
}
.sec3div1 {
  height: 60vh;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
}
.sec3div1:hover {
  background-color: #e9b949;
}
.line {
  line-height: 6vh;
}

.sec3h {
  color: rgb(46, 33, 78);
  letter-spacing: 2px;
  position: relative;
}

.sec3h::after {
  content: "";
  display: block;
  border: 1px solid #e9b949;
  background-color: #e9b949;
  height: 1px;
  width: 40px;
  position: absolute;
  left: 100px;
}
.sec3 a {
  font-size: 25px;
  color: rgb(46, 33, 78);
}
/*footer*/
.footer {
  height: 20vh;
  width: 100%;
  border: 1px solid rgb(44, 41, 41);
  background-color: rgb(44, 41, 41);
  padding: 30px 0;
}
.footericon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.footericon a {
  color: #e9b949;
}
footer h4 {
  letter-spacing: 1px;
  color: rgb(99, 99, 216);
  text-align: center;
}
/*responsivlik*/
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .headernav {
    display: none;
  }
  .bar {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .sec1 {
    display: block;
    flex-direction: column;
  }
  .sec2 {
    flex-direction: column;
  }
  .sec3 {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    row-gap: 20px;
  }
}
