nav li {
  list-style: none;
}
a {
  text-decoration: none;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 80px;
}

* {
  margin: 0px;
}

div.same {
  background-image: url("./forest1.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}
.same {
  padding: 200px 700px 250px 50px;
}

.shadow {
  font-weight: bold;
  text-shadow: 3px 3px 5px orangered;
  color: chocolate;
  font-size: 2rem;
}

div.same a {
  border: 1px solid whitesmoke;
  color: brown;
  background-color: aliceblue;
  padding: 8px;
}
div.same a:hover {
  color: blue;
  background-color: rgb(240, 189, 122);
  padding: 8px;
}

#image {
  background-image: url("./code.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h3 {
  border-bottom: 2px solid red;
  color: antiquewhite;
}
footer nav {
  display: flex;
  padding: 150px 150px;
  background-color: rgb(29, 22, 22);
  justify-content: space-around;
}
div#lidiflex{display: flex;
    justify-content: space-around;
}
