footer {
  background-color: $dark;

  .row {
    border-bottom: 1px solid $primarylight;
    padding: 58px 120px;
    line-height: 6vh;
    .start {
      h3 {
        color: $white;
      }
      .footer1 {
        @include display;
        gap: 28px;
        justify-content: flex-start;
        .item1 {
          input {
            accent-color: $primarylight;
          }
          label {
            color: $primarylight;
          }
        }
        @media only screen and (max-width: 767px) {
          text-align: center;
        }
      }
      .btninput {
        margin-top: 20px;
        color: $primarygreen;
        background-color: $white;
        padding: 5px 40px 5px;
        border-radius: 12px;
      }
      button {
        position: relative;
        top: 1px;
        left: -90px;
        padding: 5px 11px;
        color: $dark;
        background-color: $primarygreen;
        font-size: 18px;
        border-radius: 8px;
        border: none;
      }
      @media only screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .end {
      nav {
        @include display;
        ul {
          h5 {
            color: $white;
          }
          li {
            a {
              color: $primarylight;
            }
          }
        }
        @media only screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  .image {
    padding: 25px 0;
    position: relative;

    left: 50%;
  }
}
