* {
  margin: 0;
}
header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px;
  list-style: none;
}
.list li {
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
}
.list li:hover {
  color: black;
  background-color: white;
}
i {
  color: white;
}
i:hover {
  color: black;
}
#bar {
  display: none;
}
.container {
  margin: 0 30px;
}
.sec1 {
  height: 100vh;
  width: 100%;
  background-image: url("./mountainwinter.jpg");
  background-size: cover;
}
.note {
  text-align: center;
  padding: 300px 300px;
}

.sec1 h2,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  text-shadow: 3px 3px 5px;
}
.span1::after {
  content: "";
  display: block;
  background-color: darkgreen;
  height: 2px;
  width: 70px;
}
.span2 {
  color: orange;
}
.sec2 {
  height: 100vh;
  width: 100%;
  background-image: url("./code.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.item1 {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}
.item2 {
  border: 2px solid orange;
  position: relative;
  height: 100vh;
}
.box {
  height: 200px;
  width: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.box1 {
  top: 180px;
  left: 480px;
  background-color: brown;
  z-index: 4;
}
.box2 {
  top: 200px;
  left: 360px;
  background-color: gray;
}
.box3 {
  top: 350px;
  left: 410px;
  background-color: darkslateblue;
  z-index: 3;
}
.box4 {
  top: 360px;
  left: 550px;
  background-color: rgb(226, 209, 162);
  z-index: 2;
}
.box5 {
  top: 230px;
  left: 610px;
  background-color: darkgreen;
}
@media only screen and (max-width: 991px) {
  header nav ul li {
    display: none;
  }
  #home,
  #bar {
    display: block;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 25px;
  }
  .container {
    margin: 0px;
  }
  .sec1 .note {
    display: none;
  }
  .sec1,
  .sec2 {
    padding: 300px;
  }
  .sec3 .item2 {
    display: flex;
  }
}
