$bg-violet:rgb(167, 5, 167);
$color-white:#ffffff;
$color-red:rgb(193, 11, 11);
$bg-whiteviolet:rgb(254, 176, 254);
$green:rgb(6, 67, 6);
$footer-blue:rgb(192, 192, 253);
$fh3-collor:rgb(7, 94, 4);
$fa-color:rgb(84, 15, 84);